@import '~src/app/constants/color';
@import "~bootstrap";

.wrapper {
  position: fixed;
  width: 100%;
  height: 8%;
  background-color: $bgBlue;
  padding: 10px;
}
.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btn {
}

.logo {
  font-size: 2rem;
  color: $white;
}

button {
  color: $white;
  border-color: $white;
}

.btn-custom {
  @include button-variant(transparent, $white, transparent, #fff, #fff, #fff);
  color: #fff;
}

.bi {
  color: $white;
  position: absolute;
  margin-left: 5px;
  font-size: 25px;
}
