@import "~src/app/constants/color";

.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.32vh;
  background-color: $bgBlue;
}
p {
  color: $white;
}
