@import '~src/app/constants/color';

.wrapper {
  width: 100vw;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-link {
  color: $bgBlue;
}

.form {
  width: 45vw;
  height: 50vh;
}

.validation-alert {
  color: red;
}

.invalidBorder {
  border-color: red;
}

.input-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 38px;
  right: 7px;
  cursor: pointer;
}

label {
  font-size: 1.2rem;
}
